extends ./template/layout.pug
block local
  // bodyAttr = { style: 'background-color:#f3f3f3;' }
  - headerH1 = false

  - const cardBg = require('./img/nobase64/ude-card_hover.jpg')
  - const cardPersonaBg = require('./img/nobase64/card-persona.png')
  - const cardPersonaBgChecked = require('./img/nobase64/card-persona_checked.png')
  - require('./img/goldcn.png')
  - bodyAttr = { class: ['bg-f2', 'hide-layout'] }
block body
  .container-fluid.py-3
    .flexbox.gx-2
      .sp-2
        include ./template/layout/udeAside.pug

      .sp-10
        .container
          h1.fz-32 專案A
          p.mb-5 專案描述
            br
            |本專案旨在設計和開發一款具有智慧型功能的洗衣機，以滿足現代生活中對於高效、節能、便捷的需求。

          .section-list.mb-4
            .flexbox.sps-1.gx-2.gy-3.mb-3.a-ctr
              .sp-auto
                h3.t-333.fz-16
                  span.fi-id-card
                  |人物誌
              .sp-auto.mr-auto
                button.btn.btn-outline-white(type='button')
                  span.fi-download
                  |下載
              .sp-auto
                button.btn.btn-purple(type='button' data-bs-toggle='modal' data-bs-target='#add-ch-project')
                  span.fi-plus
                  |新增
              //- .sp-2
                +inputGroup({type: 'search', id: 'search', name: 'search', label: '搜尋', placeholder: '請搜尋關鍵字...', cls: 'bg-white', prependCls: 'bg-white' })
                  +prepend({})
                    label.mb-0.pt-1(for='search')
                      svg(fill='currentColor' stroke='#828282' width='20' height='20')
                        use(xlink:href='./img/sprite.svg#magnifer')
              .sp-2
                select.custom-select.bg-white.b-1(name='sort')
                  option(value='0' selected) 依產品名稱排序
                  option(value='1') 依加入時間排序(新到舊)
                  option(value='2') 依加入時間排序(舊到新)
              //- .sp-auto
              //-   button.btn.btn-layout-toggle.active(type='button' data-layout='list')
              //-     span.fi-list
              //- .sp-auto
              //-   button.btn.btn-layout-toggle(type='button' data-layout='grid')
              //-     span.fi-grid

            .flexbox.J-evenly.g-4
              .sp-12.t-ctr
                img.img-fluid(src=require('./img/u-benifits-1.png') width='180' height='auto' alt='準備開始建立你的第一個人物誌' title='準備開始建立你的第一個人物誌' loading='lazy')
                p.fz-24.fw-7 準備開始建立你的第一個人物誌

              - for(let i = 0; i < 8; i++)
                .sp-auto
                  .card.card-persona.bg-contain(style!='--card-bg:url(\'../img/card-persona.png\');--card-bg-checked:url(\'../img/card-persona.png\');width:18.5rem')
                    .card-header
                      .avatar
                        img(src=require('./img/user-blue.jpg') width='80' height='80' alt='潘佳麗' title='潘佳麗' loading='lazy')
                      h4.t-333
                        a.stretched-link(href='./createCharacter2.html' title='潘佳麗') 潘佳麗
                        span.fw-4
                          span.t-82 &nbsp;小姐
                          br
                          | 社群行銷經理
                      p.card-text.limited-2-lines 喜愛廣交不同年齡層的社群行銷經理，會在每個月與區主管提案
                    .card-body
                      .flexbox
                        .sp-6
                          .rect
                            span.t-purple 年齡
                          p: strong 40歲
                        .sp-6
                          .rect
                            span.fi-ap15
                          p: strong 電暖器

          .section-list.mb-5
            .flexbox.sps-1.gx-2.gy-3.mb-3.a-ctr
              .sp-auto
                h3.t-333.fz-16
                  span.fi-id-card
                  |利益關係人圖
              .sp-auto.mr-auto
                button.btn.btn-outline-white(type='button')
                  span.fi-download
                  |下載
              .sp-auto
                button.btn.btn-purple(type='button' data-bs-toggle='modal' data-bs-target='#add-st-project')
                  span.fi-plus
                  |新增
              //- .sp-2
                +inputGroup({type: 'search', id: 'search', name: 'search', label: '搜尋', placeholder: '請搜尋關鍵字...', cls: 'bg-white', prependCls: 'bg-white' })
                  +prepend({})
                    label.mb-0.pt-1(for='search')
                      svg(fill='currentColor' stroke='#828282' width='20' height='20')
                        use(xlink:href='./img/sprite.svg#magnifer')
              .sp-2
                select.custom-select.bg-white.b-1(name='sort')
                  option(value='0' selected) 依產品名稱排序
                  option(value='1') 依加入時間排序(新到舊)
                  option(value='2') 依加入時間排序(舊到新)
              //- .sp-auto
              //-   button.btn.btn-layout-toggle.active(type='button' data-layout='list')
              //-     span.fi-list
              //- .sp-auto
              //-   button.btn.btn-layout-toggle(type='button' data-layout='grid')
              //-     span.fi-grid
            .flexbox.J-evenly.g-4
              .sp-12.t-ctr
                img.img-fluid(src=require('./img/ude-b1.png') width='180' height='auto' alt='準備開始建立你的第一個人物誌' title='準備開始建立你的第一個人物誌' loading='lazy')
                p.fz-24.fw-7 準備開始建立你的第一個利益關係人地圖

              - for(let i = 0; i < 8; i++)
                .sp-auto
                  .card(style='width:18.5rem')
                    .card-header
                      .flexbox.gx-3
                        .sp-auto
                          .avatar
                            img.hidden.inline-m(src=require('./img/user-blue.jpg') width='48' height='48' alt='ABC洗衣機' title='ABC洗衣機' loading='lazy')
                        .sp-auto.static
                          h4.lh-xxl-tight
                            time.fz-12.t-82.fw-4(datetime='2024-4-22 24:02:02') 2024/4/22
                            br
                            a.stretched-link(href='./drawStakeholder.html' title='智慧型洗衣機2') 智慧型洗衣機2
                    .card-body.pt-0
                      p.t-333
                        |利益關係人
                        strong.t-black.fl-right 10位
                      img.img-fluid(src=require('./img/nobase64/stakeholder.jpg') width='300' height='auto' alt='利益關係人' title='利益關係人' loading='lazy')
          .section-list.mb-5
            .flexbox.sps-1.gx-2.gy-3.mb-3.a-ctr
              .sp-auto
                h3.t-333.fz-16
                  span.fi-id-card
                  |使用者旅程地圖
              .sp-auto.mr-auto
                button.btn.btn-outline-white(type='button')
                  span.fi-download
                  |下載
              .sp-auto
                button.btn.btn-purple(type='button' data-bs-toggle='modal' data-bs-target='#add-uj-project')
                  span.fi-plus
                  |新增
              //- .sp-2
                +inputGroup({type: 'search', id: 'search', name: 'search', label: '搜尋', placeholder: '請搜尋關鍵字...', cls: 'bg-white', prependCls: 'bg-white' })
                  +prepend({})
                    label.mb-0.pt-1(for='search')
                      svg(fill='currentColor' stroke='#828282' width='20' height='20')
                        use(xlink:href='./img/sprite.svg#magnifer')
              .sp-2
                select.custom-select.bg-white.b-1(name='sort')
                  option(value='0' selected) 依產品名稱排序
                  option(value='1') 依加入時間排序(新到舊)
                  option(value='2') 依加入時間排序(舊到新)
              //- .sp-auto
              //-   button.btn.btn-layout-toggle.active(type='button' data-layout='list')
              //-     span.fi-list
              //- .sp-auto
              //-   button.btn.btn-layout-toggle(type='button' data-layout='grid')
              //-     span.fi-grid

            .flexbox.J-evenly.g-4
              .sp-12.t-ctr
                img.img-fluid(src=require('./img/u-benifits-3.png') width='180' height='auto' alt='準備開始建立你的第一個人物誌' title='準備開始建立你的第一個人物誌' loading='lazy')
                p.fz-24.fw-7 準備開始建立你的第一個使用者旅程地圖

              - for(let i = 0; i < 8; i++)
                .sp-auto
                  .card(style='width:18.5rem')
                    .card-header
                      .flexbox.gx-3
                        .sp-auto
                          .avatar
                            img.hidden.inline-m(src=require('./img/user-blue.jpg') width='48' height='48' alt='ABC洗衣機' title='ABC洗衣機' loading='lazy')
                        .sp-auto.static
                          h4.lh-xxl-tight
                            time.fz-12.t-82.fw-4(datetime='2024-4-22 24:02:02') 2024/4/22
                            br
                            a.stretched-link(href='./UJM.html' title='陳小美洗衣服') 陳小美洗衣服
                    .card-body.pt-0
                      p.t-333 使用者旅程地圖
                        span.fl-right
                          span.avatar.pr-1
                            img(src=require('./img/user-blue.jpg') width='24' height='24' alt='潘佳麗' title='潘佳麗' loading='lazy')
                          strong.t-black 潘嘉麗
                      img.img-fluid(src=require('./img/nobase64/ujm.jpg') width='300' height='auto' alt='利益關係人' title='利益關係人' loading='lazy')
  +modal({ nobtn, id: 'add-ch-project', label: 'modal-add-ch', static, centered, v5 })
    +body
      h3.t-ctr.mb-3 請選擇新增方式
      h4 手動建立
      .flexbox.sps-1.t-ctr.gy-3.mb-3
        .sp-4
          a.btn.btn-rect-purple(href='./createCharacter2.html?action=blank' title='空白模板')
            img(src=require('./img/nobase64/ch-blank.png'))
            br
            |空白模板
        .sp-4
          a.btn.btn-rect-purple(href='./createCharacter2.html?action=sample' title='範本建立')
            img(src=require('./img/nobase64/ch-sample.png'))
            br
            |範本建立
        .sp-4
          a.btn.btn-rect-purple(href='./createCharacter2.html?action=excel' title='上傳 Excel 建立')
            img(src=require('./img/nobase64/ch-excel.png'))
            br
            |上傳 Excel 建立
      h4 AI 輔助
      .flexbox.sps-1.t-ctr.gy-3
        .sp-4
          a.btn.btn-rect-pink(href='./UJM.html?action=aisample' title='AI生成範本')
            img(src=require('./img/nobase64/ch-gen.png'))
            br
            |AI生成範本
            br
            small (剩餘額度 : 1 次)
        .sp-4
          a.btn.btn-rect-pink(href='./createCharacter2.html?action=aitext' title='逐字稿AI框選')
            img(src=require('./img/nobase64/ch-selection.png'))
            br
            |逐字稿AI框選
            br
            small (剩餘額度 : 1 次)
    +footer
      button.btn.btn-white(type='button' data-bs-dismiss='modal') 取消
  +modal({ nobtn, id: 'add-uj-project', label: 'modal-add-uj', static, centered, v5 })
    +body
      h3.t-ctr.mb-3 請選擇新增方式
      h4 手動建立
      .flexbox.sps-1.t-ctr.gy-3.mb-3
        .sp-4
          a.btn.btn-rect-purple(href='./UJM.html?action=blank' title='空白模板')
            img(src=require('./img/nobase64/uj-blank.png'))
            br
            |空白模板
        .sp-4
          a.btn.btn-rect-purple(href='./UJM.html?action=sample' title='範本建立')
            img(src=require('./img/nobase64/uj-sample.png'))
            br
            |範本建立
        .sp-4
          a.btn.btn-rect-purple(href='./UJM.html?action=excel' title='上傳 Excel 建立')
            img(src=require('./img/nobase64/uj-excel.png'))
            br
            |上傳 Excel 建立
      h4 AI 輔助
      .flexbox.sps-1.t-ctr.gy-3
        .sp-4
          a.btn.btn-rect-pink(href='./UJM.html?action=aisample' title='AI生成範本')
            img(src=require('./img/nobase64/uj-gen.png'))
            br
            |AI生成範本
            br
            small (剩餘額度 : 1 次)
        .sp-4
          a.btn.btn-rect-pink(href='./UJM.html?action=aitext' title='逐字稿AI框選')
            img(src=require('./img/nobase64/uj-selection.png'))
            br
            |逐字稿AI框選
            br
            small (剩餘額度 : 1 次)
    +footer
      button.btn.btn-white(type='button' data-bs-dismiss='modal') 取消
  +modal({ nobtn, id: 'add-st-project', label: 'modal-add-st', static, centered, v5 })
    +body
      h3.t-ctr.mb-3 請選擇新增方式
      h4 手動建立
      .flexbox.sps-1.t-ctr.gy-3.mb-3
        .sp-4
          a.btn.btn-rect-purple(href='./drawStakeholder.html?action=blank' title='空白模板')
            img(src=require('./img/nobase64/st-blank.png'))
            br
            |空白模板
        .sp-4
          a.btn.btn-rect-purple(href='./drawStakeholder.html?action=sample' title='空白模板')
            img(src=require('./img/nobase64/st-sample.png'))
            br
            |範本建立
        .sp-4
          a.btn.btn-rect-purple(href='./drawStakeholder.html?action=blank' title='空白模板')
            img(src=require('./img/nobase64/st-excel.png'))
            br
            |上傳 Excel 建立
      h4 AI 輔助
      .flexbox.sps-1.t-ctr.gy-3
        .sp-4
          a.btn.btn-rect-pink(href='./drawStakeholder.html?action=aisample' title='空白模板')
            img(src=require('./img/nobase64/st-gen.png'))
            br
            |AI生成範本
            br
            small (剩餘額度 : 1 次)
        .sp-4
          a.btn.btn-rect-pink(href='./drawStakeholder.html?action=excel' title='空白模板')
            img(src=require('./img/nobase64/st-selection.png'))
            br
            |逐字稿AI框選
            br
            small (剩餘額度 : 1 次)
    +footer
      button.btn.btn-white(type='button' data-bs-dismiss='modal') 取消